{% extends 'base.html.twig' %}

{% block title %}Statistiques du joueur {% endblock %}

{% block body %}
   <div class="statistique overflow-hidden">
        {% if app.user %}
            <p class="text-center"><img class="user-picture rounded-circle m-3" src="{{ asset('/images/user/' ~ app.user.picture) }}"></p>
        <h1 class="text-light text-center pb-3 mt-1 mb-5 mx-5 border-bottom border-primary border-3 fs-1">Statistiques de {{ app.user.pseudo }}</h1>
            <h2 class="text-primary text-center fs-2 mx-5 my-3">Mes stats générales</h2>
            <div class="d-flex flex-column mt-3">
                <span class="text-light text-center mx-5 mb-2 fs-3"><span class="text-danger fs-3">{{ app.user.countTotalGames }}</span> match{{ app.user.countTotalGames > 1 ? 's' : '' }} joué{{ app.user.countTotalGames > 1 ? 's' : '' }}</span>
                <span class="text-light text-center mx-5 mb-2 fs-3"><span class="text-danger fs-3">{{ app.user.countButsByPlayer }}</span> but{{ app.user.countButsByPlayer > 1 ? 's' : '' }}</span>
                <span class="text-light text-center mx-5 mb-2 fs-3"><span class="text-danger fs-3">{{ app.user.countPassesDecisivesByPlayer }}</span> passe{{ app.user.countPassesDecisivesByPlayer > 1 ? 's' : '' }} décisive{{ app.user.countPassesDecisivesByPlayer > 1 ? 's' : '' }} </span>
            <h3 class="text-primary text-center fs-2 mx-5 my-3 border-top border-light pt-3">Moyenne par match</h3>
                <span class="text-danger text-center fs-3">
                    {% if app.user.countTotalGames > 0 %}{{ (app.user.countButsByPlayer / app.user.countTotalGames)|round(1, 'floor')}}
                    <span class="text-light">but{{ (app.user.countButsByPlayer / app.user.countTotalGames)|round(1, 'floor') > 1 ? 's' : ''}} </span>
                    {% endif %}
                </span>
                <span class="text-danger text-center mb-3 fs-3">
                    {% if app.user.countTotalGames > 0 %}{{ (app.user.countPassesDecisivesByPlayer / app.user.countTotalGames)|round(1, 'floor')}}
                        <span class="text-light">passe{{ (app.user.countPassesDecisivesByPlayer / app.user.countTotalGames)|round(1, 'floor') > 1 ? 's' : ''}} décisive{{ (app.user.countPassesDecisivesByPlayer / app.user.countTotalGames)|round(1, 'floor') > 1 ? 's' : ''}} </span>
                    {% endif %}
                </span>
            </div>
       <table class="d-flex justify-content-center border-top border-light mx-5 py-3">
           <tr class="text-primary border-bottom border-primary fs-2">
               <td class="pe-4">Date</td>
               <td class="pe-4">Résultat</td>
               <td class="pe-4">But(s)</td>
               <td class="pe-4">PD</td>
               <td class="p-4">Lien match</td>
           </tr>
            {% for game in app.user.games %}
                <tr class="bg-dark text-light border-bottom border-secondary  fs-3">
                    <td class="w-25 pe-3 py-2">{{ game.dateGame }}</td>

                    {% if app.user.showResultByGameByPlayer %}
                        <td class="text-center pe-3">
                            {% if app.user.showResultByGameByPlayer[loop.index-1] == 'V' %}
                                <i class="text-primary fs-5 fas fa-circle"></i>
                            {% elseif app.user.showResultByGameByPlayer[loop.index-1] == 'D' %}
                                <i class="text-danger fs-5 fas fa-circle"></i>
                                {% elseif app.user.showResultByGameByPlayer[loop.index-1] == 'N' %}
                                    <i class="text-warning fs-5 fas fa-circle"></i>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if app.user.countButsByGameByPLayer %}
                        <td class="pe-3"> {{ app.user.countButsByGameByPLayer[loop.index-1] }}</td>
                    {% endif %}
                    {% if app.user.countPassesDecisivesByGameByPlayer %}
                        <td class="">{{app.user.countPassesDecisivesByGameByPlayer[loop.index-1] }}</td>
                    {% endif %}
                    {% if game.fiveLink %}
                        <td class="w-25 py-2 "><a target="_blank" href="{{ game.fiveLink }}"><i class="ps-3 text-primary fas fa-link"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
         {% endif %}
   </div>
{% endblock %}
