{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="statistique container-fluid">
        <h1 class="mt-5 text-light text-center pb-3 m-5 border-bottom border-primary border-3 fs-1">Statistiques générales</h1>
        <table class="d-flex justify-content-center">
            <tr class="text-primary border-bottom border-primary">
                <th></th>
                <th class="pe-1">Joueur</th>
                    {% if is_granted('ROLE_ADMIN') %}
                <th class="pe-2">Matchs</th>
                    {% endif %}
                <th class="pe-2">But(s)</th>
                <th class="pe-3">PD</th>
                <th class="pe-2">Derniers matchs</th>
                <th class="pe-3">Buts/ match</th>
                <th>PD/ match</th>
            </tr>
            {% for user in users %}
                {% if user.isVisible %}
                <tr class="bg-dark text-light border-bottom border-secondary fs-5">
                    <th class="pe-1">
                        {% if user.picture %}
                            <img class="player-picture rounded-circle" src="{{ asset('/images/user/' ~ user.picture) }}">
                            {% else %}
                            <img class="player-picture rounded-circle" src="{{ asset('build/images/profil.jpeg') }}">
                        {% endif %}</th>
                    <th class="w-25 py-2">{{ user.pseudo }}</th>
                        {% if is_granted('ROLE_ADMIN') %}
                    <td class="text-center">{{ user.countTotalGames }}</td>
                        {% endif %}
                    <td class="text-center">{{ user.countButsByPlayer }}</td>
                    <td class="text-center pe-3">{{ user.countPassesDecisivesByPlayer }}</td>
                    <td class="w-25">
                        {% for resultat in user.showResultByGameByPlayer %}
                            {% if resultat == 'V' %}
                                <i class="text-primary fas fa-circle"></i>
                            {% elseif resultat == 'D'%}
                                <i class="text-danger fas fa-circle"></i>
                            {% else %}
                                <i class="text-warning fas fa-circle"></i>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">{% if user.countTotalGames > 0 %}{{ (user.countButsByPlayer / user.countTotalGames) | round(1, 'floor')}}{% endif %}</td>
                    <td class="text-center"> {% if user.countTotalGames > 0 %}{{ (user.countPassesDecisivesByPlayer / user.countTotalGames) | round(1, 'floor')}}{% endif %}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}